a, a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
.mainItem {
	overflow: hidden;
	border: 1px solid #c2c2c2;
	/*border-radius: 5px;*/
}
.mainItem > div {
	min-width: 280px;
    min-height: calc(280px * 3 / 5);
    background-color: #c2c2c2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;    
}
.mainItem > div + p {
	margin-top: 5px;
	padding: 0 3px;
	min-height: 120px;
	max-height: 120px;
}
.mainHead {
	width: 100%;
	height: 300px;
	/*background-color: #c2c2c2;*/
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}
.pageBodyW {
	padding-top: 100px;
}
.pageBodyM {
	padding-top: 0px;
}
.readyDiv {
	width: 100vw;
    height: 100vh;
    position: relative;
}
.readyImg {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}
.admin-header {
	color: white;
	background-color: #BF3131;
}
.admin-header span:first-child {
	cursor: pointer;
}
.admin-header span:last-child {
	cursor: pointer;
}
.admin-header + div {
	color: #7D0A0A;
	font-size: 0.8rem;
	background-color: #EAD196;
}
.admin-header + div > span {
	cursor: pointer;
}